* {
  padding: 0;
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  scroll-behavior: smooth;
}
a,
.btn {
  transition: all 300ms ease;
}

h4 {
  color: black;
}
h4:hover {
  cursor: default;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
ul {
  display: flex;
  gap: 10px;
  list-style: none;
  gap: 20px;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
}
.img {
  height: 300px;
  border-radius: 50%;
}
.section1 {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  box-sizing: border-box;
  height: 96vh;
  min-height: fit-content;
}
.div2 {
  height: 200px;
}
.btn1 {
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  border: 2px solid black;
  margin-top: 10px;
  background-color: white;
  transition: all 500ms ease;
}
.btn1:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
.btn2 {
  padding: 10px 13px 10px 13px;
  border-radius: 50px;
  border: 2px solid black;
  margin-top: 10px;
  color: white;
  background-color: black;
  transition: all 200ms ease;
}
.btn2:hover {
  color: white;
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}
.i1 {
  font-size: 27px;
  margin-left: 60px;
  margin-top: 20px;
}
.img1 {
  height: 30px;
  margin-top: 10px;
  margin-left: 60px;
}
.img1,
.img2:hover {
  cursor: pointer;
}
.img2 {
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
}
.p3 {
  text-align: center;
}
.h12 {
  text-align: center;
}
.section2 {
  min-height: fit-content;
  height: 96vh;
  position: relative;
}
.section-container {
  display: flex;
}
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.img3 {
  height: 300px;
  border-radius: 30px;
  padding-left: 20px;
}
.experience {
  border: 2px solid rgb(53, 53, 53);
  height: 100px;
  padding: 4rem;
  align-items: center;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
}
.education {
  border: 2px solid rgb(53, 53, 53);
  height: 100px;
  padding: 4rem;

  align-items: center;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
}
.para {
  margin: 10px 60px 10px 30px;
}
.img6 {
  height: 30px;
  position: absolute;
  right: 3rem;
  bottom: 2.5rem;
}
.img6:hover {
  cursor: pointer;
}

.section3 {
  min-height: fit-content;
  height: 96vh;
  align-items: center;
  position: relative;
}
.sectioncontainer {
  margin-top: 30px;
  border-radius: 20px;
  height: 50%;
  width: 50%;
  border: 2px solid rgb(53, 53, 53);
  margin-left: 350px;
}
.article {
  margin-left: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.h13 {
  text-align: center;
  color: rgb(53, 53, 53);
}
.container3 {
  display: flex;
  margin-left: 20rem;
  margin-top: -10rem;
}
.section4 {
  min-height: fit-content;
  height: 96vh;
  position: relative;
}
.img7 {
  height: 200px;
  width: 150px;
  margin-top: 10px;
}
.wholecontainer {
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincontainer {
  margin-top: 20px;
  text-align: center;
  height: 400px;
  width: 250px;
  border-radius: 20px;
  border: 2px solid rgb(53, 53, 53);
  gap: 1rem;
}
.secondcontainer {
  margin-top: 20px;
  text-align: center;
  height: 400px;
  width: 250px;
  border-radius: 20px;
  border: 2px solid rgb(53, 53, 53);
  gap: 1rem;
}
.section5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

 
}
.img7 {
  border-radius: 20px;
}
.h16 {
  margin-top: 10px;
}
.section6-main-container {
 
  display: flex;
  justify-content: center;
  align-items: center;

  background: (250,250,250);
  border-radius: 20px;
  border:rgb(53, 53, 53) 2px solid;
  margin: 0.5rem auto;
  padding: 0.8rem;
  gap: 20px;
 
}
.second-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.i00:hover{
  cursor: pointer;
  color: rgb(53, 53, 53);

}
.div00{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer{
 height: 26vh;
 margin: 0 1rem
}
.footerp{
 text-align: center;
}